<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-if="flag">这是被v-if控制的元素</p>
        <p v-show="flag">这是被v-show控制的元素</p>
        <hr>
        <p  v-if="type==='A'">优秀</p>
        <p v-else-if="type==='B'">良好</p>
        <p v-else="type==='C'">差</p>
    </div>
    <script src="./lib/vue-2.6.12.js"></script>
    <script>
        const vm=new Vue({
            el:'#app',
            data:{
                // 如果flag为true，则显示被控制元素，如果为false则隐藏被控制的元素

                flag:true,
                type:'A'
                
            },
            methods:{
             
          
            }

        })
    </script>
</body>
</html>